<!DOCTYPE html>
<html lang="en">

<head>
	<title>365 Beauty Salon: Registrarse</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
	<!--===============================================================================================-->

	<link rel="shortcut icon" th:href="@{/img/icono.ico}">
	<!--Icono de pestaña-->
</head>

<body style="background-color: #999999;">

	<div class="limiter">
		<div class="container-login100">

			<div class="login100-more" style="background-image: url('/img/fondo3.jpg');">
			</div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" th:action="@{/usuario/crearUsuario}" method="post">
					<span class="login100-form-title p-b-59">
						365 Beauty Salon: Registrarse
					</span>
					<div class="wrap-input100 validate-input">
						<span class="label-input100">Nombre Completo</span>
						<input class="input100" type="text" id="nombre" name="nombre" placeholder="Antonia Valladares...">
						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input">
						<span class="label-input100">Correo electronico</span>
						<input class="input100" type="email" id="correo" name="correo" placeholder="correo@*****.com...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<span class="label-input100" >Telefono</span>
						<input class="input100"  type="text" id="telefono" name="telefono" placeholder="--------...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<span class="label-input100">Nombre de usuario</span>
						<input class="input100" type="text" id="username" name="username" placeholder="antonia2021...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<span class="label-input100">Contraseña</span>
						<input class="input100" type="password"  id="password" name="password" placeholder="*************">
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Registarme
							</button>
						</div>
				
					</div>
				</form>
				
				<div class="col-12 forgot">
                    <br>&nbsp;&nbsp;
                    <a th:href="@{/logout}">Ya tengo una cuenta!</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{/}">Ir a pagina de Inicio</a>
                </div>
				
			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

</body>

</html>